// 背景色
$vd-default: #ffffff;
$vd-success: #9ede73;
$vd-warning: #e48900;
$vd-danger: #be0000;
$vd-info: #536162;
$vd-primary: #214252;
// 字体色
$vd-font: #606266;
$vd-light: #c0c4cc;
// 边框色
$vd-border: #dcdfe6;
$vd-card-border: #ebeef5