
// 全局变量样式
@import './const.scss';

// 初始化样式
ol,ul,li {
    list-style: none;
}
ol,ul,li {
    padding: 0;
}

// vd-button
.vd-button {
    padding: 8px 14px;
    margin: 0;
    border-radius: 4px;
    cursor: pointer;
    outline: none;
    border: unset;
    min-width: 2em;
    min-height: 1.5em;
    &:active {
        opacity: 0.8;
    }
    &.button-type-default {
        border: 1px solid $vd-border;
        background-color: $vd-default;
        color: $vd-font;
    }
    &.button-type-primary {
        color: $vd-default;
        background-color: $vd-primary;
    }
    &.button-type-success {
        color: $vd-default;
        background-color: $vd-success;
    }
    &.button-type-warning {
        color: $vd-default;
        background-color: $vd-warning;
    }
    &.button-type-danger {
        color: $vd-default;
        background-color: $vd-danger;
    }
    &.button-type-info {
        color: $vd-default;
        background-color: $vd-info;
    }
    &.button-size-medium {
        padding: 8px 14px;
        font-size: 14px;
    }
    &.button-size-mini {
        padding: 6px 12px;
        font-size: 12px;
    }
    &.button-size-large {
        padding: 10px 16px;
        font-size: 16px;
    }
}

// 禁用样式
.vd-disabled {
    cursor: not-allowed;
    opacity: 0.7;
    &:active {
        opacity: unset;
    }
}

// vd-card
.vd-card {
    box-shadow: 0 2px 12px 0 rgba(0,0,0,0.1);
    border-radius: 6px;
    box-sizing: border-box;
    border: 1px solid $vd-card-border;
    .vd-card_header {
        border-radius: 6px 6px 0 0;
        padding: 10px 16px;
        width: 100%;
        background-color: $vd-default;
        font-size: 18px;
        color: $vd-font;
        box-sizing: border-box;
        border-bottom: 1px solid $vd-card-border;
        &.card-type-primary {
            background: $vd-primary;
            color: $vd-default;
        }
    }
    .vd-card__body {
        padding: 6px 16px;
        min-height: 40px;
        font-size: 14px;
        color: $vd-font;
    }
}

// vd-input
.vd-input {
    display: inline-block;
    position: relative;
    font-size: 14px;
    .vd-input__inner{
        border: unset;
        border: 1px solid $vd-card-border;
        border-radius: 4px;
        outline: unset;
        padding: 8px;
        font-size: 14px;
        color: $vd-primary;
        &:focus{
            border-color: $vd-primary;
        }
    }
    .vd-input-slot {
        position: absolute;
        height: 100%;
        right: 5px;
        padding: 0 2px;
        top: 0;
        text-align: center;
        display: inline-flex;
        align-items: center;
        color: $vd-light;
        box-sizing: border-box;
        transition: all .3s;
        pointer-events: none;
        .vd-input-slot__content {
            padding: 3px;
            background: $vd-default;
        }
    }
    &.vd-border-err {
        border-color: $vd-danger;
    }
}
